body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 6px;
}

.form-container button {
    width: 40%;
    padding: 10px;
    margin: 5%;
    margin-left: 50px;
    align-items: center;
   justify-content: center;
    background-color: #0da9c1;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    
}

.form-container button:hover {
    background-color: #0a90a5;
}

.form-container button:active {
    background-color: #087a8b;
}